
/* small screen */
@media (max-width: 768px) {

  .side-menu {
    position: relative;
    width: 100%;
    height: 0;
    border-right: 0;
    border-bottom: 1px solid #e7e7e7;
  }

  .side-menu .brand-name-wrapper{
    min-height:50px;
  }

  .side-menu .brand-name-wrapper p{
        width:100%;
        margin:0;
        padding:0;
        border-bottom:none;
        margin-top:10px;
  }

  .side-menu .brand-name-wrapper .navbar-brand {
        display: block;
        padding:0;
        height:50px;
        width:100px;
        float:right;
    }

  .side-menu .brand-name-wrapper .navbar-brand img{
      width:50px;
      height:50px;
      position: absolute;
      top: 5px;
      right: 10px;
    }

  .side-menu .navbar-nav li {
  width: 150px;
  }
  .side-menu .socialSidebar{
     margin:0;
     height:100%;
  }
  /* Slide in animation */
  @-moz-keyframes slidein {
    0% {
      left: -150px;
    }
    100% {
      left: 0px;
    }
  }
  @-webkit-keyframes slidein {
    0% {
      left: -150px;
    }
    100% {
      left: 0px;
    }
  }
  @keyframes slidein {
    0% {
      left: -150px;
    }
    100% {
      left: 0px;
    }
  }
  @-moz-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -150px;
    }
  }
  @-webkit-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -150px;
    }
  }
  @keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -150px;
    }
  }
  /* Slide side menu*/
  /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
  .side-menu-container > .navbar-nav.slide-in {
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .side-menu-container > .navbar-nav {
    /* Add position:absolute for scrollable menu -> see top comment */
    position: fixed;
    left: -150px;
    width: 150px;
    top: 16px;
    height: 100%;
    border-right: 1px solid #282828;
    background-color: #282828;
    -moz-animation: slideout 300ms forwards;
    -o-animation: slideout 300ms forwards;
    -webkit-animation: slideout 300ms forwards;
    animation: slideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  /* Uncomment for scrollable menu -> see top comment */
  /*.absolute-wrapper{
        width:285px;
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }*/
  @-moz-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 150px;
    }
  }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 150px;
    }
  }
  @keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 150px;
    }
  }
  @-moz-keyframes bodyslideout {
    0% {
      left: 150px;
    }
    100% {
      left: 0;
    }
  }
  @-webkit-keyframes bodyslideout {
    0% {
      left: 150px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  /* Slide side body*/
  .side-body {
    margin-left: 0px;
    margin-top: 70px;
    position: relative;
    -moz-animation: bodyslideout 300ms forwards;
    -o-animation: bodyslideout 300ms forwards;
    -webkit-animation: bodyslideout 300ms forwards;
    animation: bodyslideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .body-slide-in {
    -moz-animation: bodyslidein 300ms forwards;
    -o-animation: bodyslidein 300ms forwards;
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  /* Hamburger */
  .navbar-toggle {
    display:block;
    border: 0;
    float: left;
    padding: 14px;
    margin: 0;
    border-radius: 0;
    background-color: #282828;
    border-right:1px solid #4e4e4e;
  }
  /* Search */
  #search .panel-body .navbar-form {
    border-bottom: 0;
  }
  #search .panel-body .navbar-form .form-group {
    margin: 0;
  }
  .navbar-header {
    /* this is probably redundant */
    position: fixed;
    z-index: 3;
    background-color: #282828;
  }
  /* Dropdown tweek */
  #dropdown .panel-body .navbar-nav {
    margin: 0;
  }


  /** Ref **/
  h1{
    font-size: 1.8em;
  }
  h2{
    font-size: 1.4em;
  }

  .side-body .row {
    padding:25px 0;
  }

  /** Element portfolio **/

  .side-body .portfolioWrapper {
      margin: 0 15px;
    }

  .side-body .pageContent{
    margin:0;
  }

  .grid .mix, .list .mix {
    margin-bottom: 0px !important;
}
  /** Header title-page**/

  .side-body .headerPage {
      padding:15px 0;
      text-align: center;
  }


  .side-body .headerPage .title-page h1 {
    margin-top: 0px;
  }

  .side-body .headerPage .title-page h2{
    font-size: 1.4em;
    margin-top: 5px;
  }
  .side-body .header-social{
    text-align: center;
  }

  .side-body .header-social a{
    margin-left: 0;
  }
  /** Page Home**/

  .side-body .homePage-resumate .homePage-resumContent{
    padding : 25px 0;
  }

  /** Page Know Me **/


  .side-body .knowPage-title .title-page{
    text-align: center;
  }
  .side-body .knowPage-content-illus {
    font-size: 1.09em;
  }

  .side-body .knowPage-content {
   padding: 20px 15px;
  }

  .side-body .knowPage-content>div{
  padding:0;
}

  .side-body .knowPage-content-illus .row {
    margin-bottom: 0px;
  }

  .side-body .knowPage-outside figure {
    text-align: left;
    margin-top:20px;
    padding-bottom: 20px;
    border-bottom:1px solid #4dd4db;
  }

  .side-body .knowPage-outside div:last-child figure{
    border-bottom: 0;
  }

   .side-body .knowPage-outside figure i{
    padding:0;
  }

  .side-body .knowPage-outside figcaption{
      display: inline-block;
      vertical-align: top;
      font-size: 1.2em;
      margin-top:0;
      margin-left: 10px;
      max-width: 190px; /* Voir pour modificiation max-width pour iphone 5/6 */
      line-height: 1.1em;
  }

  .side-body .knowPage-outside figcaption h4 {
    margin-top:0;
    margin-bottom: 2px;
    text-align: left
  }

  /** Page Cv **/


  .side-body .cvPage-content {
    padding-top: 0px;
    margin: 0;
}

  .side-body .pagecv-competences h3,
  .side-body .pagecv-diplomes h3,
  .side-body .pagecv-log h3,
  .side-body .pagecv-exp h3 {
    margin-bottom: 0px;
  }

  .side-body .pagecv-competences article:last-child {
    margin-bottom: 30px;
}
  .side-body .cvPage-content .pagecv-experiences .row:first-child {
      padding-top: 15px;
  }

  .side-body .pagecv-competences .vertical-align {
   display: block;
 }
  .side-body .pagecv-competences .vertical-align > [class^="col-"],
  .side-body .pagecv-competences .vertical-align > [class*=" col-"] {
   display: block;
 }

 .side-body .pagecv-experiences .vertical-align {
  display: block;
}
 .side-body .pagecv-experiences .vertical-align > [class^="col-"],
 .side-body .pagecv-experiences .vertical-align > [class*=" col-"] {
  display: block;
}



  .side-body .pagecv-expertises header {
    padding-left: 0px;
}

.side-body .pagecv-expertises figcaption {
    margin: 5px 0 10px 0;
}

  .side-body .pagecv-diplomes .row {
      padding: 35px 0px;
  }

  .side-body .pagecv-diplomes span {
    margin-bottom: 15px;
}

  /**
   Page Index Projet
   **/

  .nav-pills{
    margin-bottom: 10px;
    text-align: left;
  }
  .nav-pills>li>a{
    color:#fff;
    background-color:#2f2f2f;
  }

  .nav-pills>li>a:hover{
    background-color:#000;
  }

  .nav-pills .open>a, .nav-pills .open>a:focus,.nav-pills .open>a:hover {
    background-color:#2f2f2f;
  }

  .dropdown-menu {
  min-width: 160px;
  margin:0 5px;
  background-color: #2f2f2f;
  color:#fff;
  top:98%;
  }

  .dropdown-menu li{
  padding-left: 8px;
  }

  /**
  Page projet
  **/

  .side-body .title-page .pageprojet-social{
    margin-top: 10px;
    text-align: center;
  }

  .side-body .pageprojet-infos .paramsProject li a {
  padding-top:5px;
  }

  .side-body .pageprojet-infos {
  padding: 10px 0;
  }

  .side-body .pageprojet-infos a.linkProject {
  padding: 9px 15px;
  margin-top: 10px;
  width: 100%;
  display: block;
  text-align: center;
  }

  .side-body .pageprojet-infos ul {
  padding-left: 0px;
  }


  .side-body .portfolioTags {
  margin-bottom: 10px;
  padding:0;
  }


   .side-body .pageprojet-content article > [class^="col-"]{
    padding-left: 15px;
    padding-right: 15px;
  }

  /**
   Footer
   */

  #footermain .row{
    padding-left: 15px;
  }

  #footermain h5{
  padding:0;
  }

  #footermain ul{
  padding:0;
  }

  #footermain .footerSlogan{
    font-size:0.78em;
  }

  /**
   Modification bootstrap
  */

  .carousel-indicators {
    bottom: -35px;
  }

  .carousel-indicators li {
    border-color:#000;
  }
  .carousel-indicators .active{
    background-color:#282828;
  }
}


/* Modification portrait/paysage media queries */

@media screen and (min-width: 768px) {
.custom-collapse .collapse{
            display:block;
      }
}

@media screen and (max-width: 768px)
and (orientation:landscape) {
  .nav-pills>li {
  width:100%;
  }

}

@media screen and (max-width: 768px)
and (orientation:portrait) {
  .nav-pills>li {
  float: left;
  }

  .nav-pills.nav-mobile>li{
    width:100%;
  }

  .nav-pills .caret {
  position:absolute;
  right:10px;
  top:17px;
  }

}



/* Spécifique Ipad */


@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : portrait)
  and (-webkit-min-device-pixel-ratio: 2){

}


@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape)
  and (-webkit-min-device-pixel-ratio: 2){

    .side-body .pageContent{
      margin:0 25px;
      padding-top: 15px;
    }
    .side-body .pageprojet-infos {
    padding: 15px 25px;
    }

}

/* Spécifique Iphone 6 */
@media only screen
and (min-width : 375px)
and (max-width : 667px) {
  .side-body .knowPage-outside figcaption{
      max-width: 230px;
  }

}
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {

  .side-body .knowPage-outside figcaption{
    max-width: 250px;
 }
}
